<ngx-datatable class="material table-height"
               [rows]="rows"
               [columns]="[{name:'Name'},{name:'Gender'},{name:'Company'}]"
               [columnMode]="'force'"
               [headerHeight]="50"
               [scrollbarV]="true"
               [footerHeight]="50"
               [rowHeight]="50"
               [externalPaging]="true"
               [count]="page.totalElements"
               [offset]="page.pageNumber"
               (page)='setPage($event)'>
</ngx-datatable>
